.main-flex-container {
  display: flex;
}
.main-grid-container {
  width: 60%;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  grid-template-areas: "input-string input-string input-string";
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}
.input-string {
  grid-area: input-string;
}
.regex-string {
  text-align: center;
}
.checkboxes {
  grid-area: 3/2 / 4/3;
  align-self: start;
}
.result {
  grid-area: 4/1 / 5/4;
}
.text-area-label {
  display: inline-block;
  width: 20%;
  text-align: left;
}
textarea {
  vertical-align: top;
  width: 65%;
}
button {
  display: block;
  margin: 5px auto;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
}
