@media (max-width:675px) {
  .main-grid-container {
    grid-gap: 0 !important;
    grid-template: repeat(6, 1fr) / 100% !important;
    grid-template-areas: "input-string"
                         "test-regex"
                         "match-regex"
                         "replace-regex"
                         "flags"
                         "result" !important;
  }
  .input-string {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-area-label {
    text-align: center !important;
    width: 100% !important;
  }
  textarea {
    vertical-align: top;
    width: 100% !important;
  }
  #test {
    grid-area: test-regex;
  }
  #match {
    grid-area: match-regex;
  }
  #replace {
    grid-area: replace-regex;
  }
  fieldset.checkboxes {
    grid-area: flags;
    margin-top: 1.5rem;
  }
  div.result {
    grid-area: result;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body {
  background-color: #eaedf2;
}
.main-flex-container {
  display: flex;
  width: 100%;
}
.main-grid-container {
  width: 60%;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(4, minmax(20%, 1fr)) / repeat(3, minmax(20%, 1fr));
  grid-template-areas: "input-string input-string input-string";
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}
.input-string {
  grid-area: input-string;
}
.regex-string {
  text-align: center;
  max-width: 100%;
}
.regex-string label {
  display: block;
  margin-bottom: .75rem;
}
input.regexes {
  max-width: 100%;
}
#replace-text-div {
  margin-top: 1.2rem;
}
.checkboxes {
  grid-area: 3/2 / 4/3;
  align-self: start;
}
.result {
  grid-area: 4/1 / 5/4;
}
.text-area-label {
  display: inline-block;
  width: 20%;
  text-align: left;
  margin-right: 5px;
}
textarea {
  vertical-align: top;
  width: 65%;
}
button {
  display: block;
  margin: 5px auto;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
}
